body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(26, 22, 22);
}

p {
    font-size: 32px;
    color: aquamarine;
}

.player-selections {
    display: flex;
    gap: 32px;
}

.player-selections > button {
    flex: 1;
    padding: 40px;
    background-color: aqua;
    font-size: 24px;
    color: blue;
    border-radius: 8px;
}

.scoreBar,
.matchComments{
    text-align: center;
    font-size: 40px;
    color: yellow;
    padding:24px;
    margin:24px
}

.matchComments {
    font-size: 24px;
    padding: 16px;
    margin: 16px;
}